node_modules
.next
out
build
dist

.env
.env.local
.env*.local

data
public/generated
*.db
*.db-journal

.git
.gitignore
.dockerignore
docker
README.md

.DS_Store
*.log
.vscode
.idea
tsconfig.tsbuildinfo
