@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }
  html,
  body {
    height: 100%;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  * {
    @apply border-border;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: hsl(220 13% 60%) transparent;
  }
  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: hsl(220 13% 60%);
    border-radius: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-dark::-webkit-scrollbar-thumb {
    background: hsl(220 13% 35%);
  }
}
